@model IEnumerable<ApplicationCore.Domain.chanson>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.stylemusicale)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.datesortie)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vueyt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duree)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Artiste)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Any())
        {
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.stylemusicale)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.titre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.datesortie)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vueyt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.duree)
                    </td>
                    <td>
                        <partial name="DetailsArtiste" model="item.Artiste"></partial>
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.chansonId">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.chansonId">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.chansonId">Delete</a>
                        <a asp-controller="Artiste" asp-action="Details" asp-route-id="@item.artisteFK">Artiste</a>

                    </td>
                </tr>
            }
        }
    </tbody>
</table>
